*
  margin: 0
  padding: 0
  border: 0
  font-family: inherit
  font-size: inherit
  box-sizing: border-box

a
  text-decoration: none

li
  list-style-type: none

button
  background-color: transparent
  cursor: pointer